@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap');
$bodyFont: 'Source Sans Pro', sans-serif;

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: $bodyFont;
  color: #4c4c47;
}

a {
  text-decoration: none;
}

body {
  background: #7ebdc2;
}

//nav
.nav-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 40px 0px;
  box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  .nav {
    margin: 0 5vw;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    a {
      &:first-child {
        font-size: 2vw;
        font-weight: 600;
        color: #bb4430;
      }
    }
  }
}

//hero
.hero-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image-container {
    padding: 10vw 0px;
    background-image: url('./assets/two-young-people-training-on-cycling-machines-2MY8G3V.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.3vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  }
}
//countdown
.countdown {
  width: 70vw;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    325deg,
    rgba(255, 255, 255, 08) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
  box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 41px -9px rgba(0, 0, 0, 0.51);
  padding: 40px;
  border-radius: 0.3vw;
  backdrop-filter: blur(3px);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 55px -9px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0px 0px 55px -9px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 55px -9px rgba(0, 0, 0, 0.7);
  }
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .countdown-item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .countdown__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      &_left {
        font-size: 5vw;
        color: #bb4430;
      }
      p {
        text-transform: uppercase;
      }
    }
  }
}

//footer

.footer-wrapper {
  width: 100%;
  height: 100px;
  background: #231f20;
  position: absolute;
  bottom: 0;
}
